{% extends "index.html" %}
{% block web3 %}
<div class="container-fluid px-4">
	<h1 class="mt-4">熱門商品列表</h1>
	<div class="container">
		<div class="card-body">
			<table id="myTable" class="display">
				<thead>
					<tr>
						<th>次數</th>
						<th style="display: none">tokenId</th>
						<th>title</th>
						<th>creator</th>
						<th>description</th>
						<th>subject</th>
						<th style="display: none">transactionHash</th>
						<th></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>次數</th>
						<th style="display: none">tokenId</th>
						<th>title</th>
						<th>creator</th>
						<th>description</th>
						<th>subject</th>
						<th style="display: none">transactionHash</th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					{% for commodities in commodities_rank %}
					<tr>
						<td>{{ commodities[6] }}</td>
						<td style="display: none">{{ commodities[0] }}</td>
						<td>{{ commodities[1] }}</td>
						<td>{{ commodities[2] }}</td>
						<td>{{ commodities[3] }}</td>
						<td>{{ commodities[4] }}</td>
						<td style="display: none">{{ commodities[5] }}</td>
						<td>
							<form action="{{ url_for('web3.add_to_collect') }}" method="post">
								<input type="hidden" id="collect_type" name="collect_type" value="c">
								<input type="hidden" id="collect_Id" name="collect_Id" value="{{ commodities[0] }}">
								<button class="btn btn-outline-primary" type="submit">收藏</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
    let table = new DataTable('#myTable', {
        order: [[0, 'desc']]
	});
	{% autoescape false %}
	// var TicketsInterface = {{ TT_abi }};
	// var CurationTokenInterface = {{ CT_abi }};
    {% endautoescape %}

</script>
{% endblock %}