{% extends "index.html" %}
{% block web3 %}
<div class="container-fluid px-4">
	<h1 class="mt-4">觀展模組</h1>
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="card bg-secondary text-white mb-4">
				<div class="card-body">展間列表</div>
				<a class="small text-white stretched-link" href="{{ url_for('visitor.room_list') }}"></a>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card bg-secondary text-white mb-4">
				<div class="card-body">我的展間</div>
				<a class="small text-white stretched-link" href="{{ url_for('visitor.my_room') }}"></a>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card bg-danger text-white mb-4">
				<div class="card-body">課堂報告</div>
				<a class="small text-white stretched-link" href="{{ url_for('visitor.for_class') }}"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="card-header">課堂報告使用者</div>
		<div class="card-body">
			<form>
				<div class="form-floating mb-3">
					<input class="form-control element1" id="account" name="account">
					<label for="account">Email</label>
				</div>
				<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
					<button id="buttonLogin" type="submit" class="btn btn-primary"
					formaction="{{ url_for('visitor.for_class') }}" formmethod="post">確認</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="row">
			{% for room in rooms %}
			<div class="col-xl-3 col-md-6">
				<div class="card bg-light text-black mb-4">
					<div class="card-header" style="display: flex; align-items: center; justify-content: center;">
						{{ room.title }}
					</div>
					<div class="card-body">
						<a href="">
							<img class="card-img-top"
								 src="{{room.coverUrl}}">
						</a>
						<div>{{ room.introduction if room.introduction else "沒有展間描述" }}</div>
					</div>
					<div class="card-footer d-flex align-items-center justify-content-evenly">
						<div style="display: none" id="roomId">{{ room.room_id }}</div>
						<div id="roomPrice">{{ room.price }}</div>
						<button id="{{ room.room_id }}" type="button" class="btn btn-primary" onclick="checkTicket('{{ room.room_id }}', '{{ room.price }}')">進入展間</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	</div>
</div>
<script>
	{% autoescape false %}
	var TicketsInterface = {{ TT_abi }};
	var CurationTokenInterface = {{ CT_abi }};
    {% endautoescape %}
	var globalReceipt = '';
	var globalTransactionHash = '';
    var intervalId = '';
    var buyTicketButton = {}; // 存儲每個按鈕的狀態

    function checkTicket(roomId, roomPrice) {
  		fetch('/visitor/check_ticket/' + roomId)
			.then(response => response.text())
			.then(data => {
			  if (data === '1') {
				alert('您已購票，進入展間！');
                toggleDivs('https://dev-partyisland.dlll.nccu.edu.tw/exhibition?id='+roomId+'&room=1');
			  } else {
				alert('您尚未購票，請購票！');
                approve(roomPrice);
                buyTicket(roomId);
			  }
			})
			// .catch(error => {
			//   console.error('驗票發生錯誤：', error);
			// });
		}

	function approve(amount) {
		var targetContract = new web3.eth.Contract(
            CurationTokenInterface,
            '{{ address_CT }}',
            {from: currentAccount});
        targetContract.methods.approve('{{ address_TT }}', amount).send()
            .then(function (result) {
                console.log(result);
            });
	}

	function buyTicket(room_id) {
		var targetContract = new web3.eth.Contract(
            TicketsInterface,
            '{{ address_TT }}',
            {from: currentAccount, gas: 210000});

		var request = targetContract.methods.buyTicket(room_id);
        request.send(function (err, transactionHash) {
            if (err) {
				console.log(err);
			} else {
				console.log("Transaction hash:", transactionHash);
                var button = document.getElementById(room_id);
                if (!globalReceipt) {
                    button.innerText = "購票中...";
                    button.classList.remove("btn-primary");
                    button.classList.add("btn-info");
					globalTransactionHash = transactionHash;
                    intervalId = setInterval(function() {
                        checkTransactionStatus(room_id);
					}, 5000);
                    buyTicketButton[room_id] = {
						button: button,
						transactionHash: transactionHash,
						receipt: '',
						intervalId: intervalId
					};
                    button.disabled = true;
                }
			}
        }).then();

	function checkTransactionStatus(room_id) {
        console.log(room_id)
		var buyButton = buyTicketButton[room_id];
        if (buyButton) {
            var transactionHash = buyButton.transactionHash;
            if (transactionHash) {
                web3.eth.getTransactionReceipt(globalTransactionHash).then(function(receipt) {
					console.log("Transaction receipt:", receipt);
					buyButton.receipt = receipt;
				});
            }

		}
		if (buyButton.receipt) {
			// 購票完成通知
			var button = buyButton.button;
			button.innerText = '進入展間';
			button.classList.remove("btn-info");
			button.classList.add("btn-primary");
			button.disabled = false;
			// 停止檢查
			clearInterval(buyButton.intervalId);
		}
	}
	}
</script>
{% endblock %}