{% extends "index.html" %}
{% block web3 %}
<div class="container-fluid px-4">
	<h1 class="mt-4">資產管理模組</h1>
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="card bg-secondary text-white mb-4">
				<div class="card-body">鑄造NFT及上傳數位資產</div>
				<a class="small text-white stretched-link" href="{{ url_for('asset.upload') }}"></a>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card bg-secondary text-white mb-4">
				<div class="card-body">NFT編輯及上架</div>
				<a class="small text-white stretched-link" href="{{ url_for('asset.asset_list') }}"></a>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card bg-primary text-white mb-4">
				<div class="card-body">商品下架</div>
				<a class="small text-white stretched-link" href="{{ url_for('asset.launched_assets') }}"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="card-header">已上架商品列表
			<form action="{{ url_for('asset.launched_assets') }}" method="post" style="float: right;">
				<label></label>
<!--						<select class="dataTable-selector" id="sort" name="s_key" aria-controls="data-table-2" >-->
<!--							<option value="">排序</option>-->
<!--							<option value="title">標題</option>-->
<!--							<option value="priceASC">租金-低到高</option>-->
<!--							<option value="priceDESC">租金-高到低</option>-->
<!--							<option value="dayASC">天數-低到高</option>-->
<!--							<option value="dayDESC">天數-高到低</option>-->
<!--						</select>-->
					<select class="dataTable-selector" id="s_key" name="s_key" aria-controls="data-table-2" >
						<option value="">搜尋：</option>
						<option value="title">標題</option>
<!--						<option value="creator">創建者</option>-->
						<option value="subject">主題</option>
						<option value="description">描述</option>
					</select>
				<input class="" name="s_value" type="search" placeholder="search for ..." aria-controls="data-table-1" value="">
				<button type="submit" class="btn btn-outline-primary">Go</button>
			</form>
		</div>
		<div class="card-body">
			<div class="row">
			{% for launch_detail in launch_detail_list %}
			<div class="col-xl-3 col-md-6">
				<div class="card bg-light text-black mb-4">
					<div id="title" class="card-header" style="display: flex; align-items: center; justify-content: center;">
							{{ launch_detail[0] }}
					</div>
					<div class="card-body">
						<img id="img" class="card-img-top"
							 src="{{ launch_detail[6] }}">

					</div>
					<div class="card-footer d-flex align-items-center justify-content-evenly">
						<div id="days" >{{ launch_detail[1] }}天</div>
						<div id="price" >{{ launch_detail[2] }} CT</div>
						<button class="btn btn-primary" onclick="launchStatus({{ launch_detail[5] }})"><i
								class="">下架</i>
						</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	</div>
</div>

<script>
	{% autoescape false %}
	var AssetRentalInterface = {{ ART_abi }};
    {% endautoescape %}

    function launchStatus(launch_id) {
        var targetContract = new web3.eth.Contract(
            AssetRentalInterface,
            '{{ address_ART }}',
            {from: currentAccount, gas: 210000});

        var request = targetContract.methods.launchStatus(launch_id, false);

        request.send(function (err, transactionHash) {
            console.log("transfer callback");
            console.log(err);
            console.log(transactionHash);
        }).then();
    }
</script>
	{% endblock %}