<!--模板原本的-->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<title>數位資產租借平台</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>



<!-- JS -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script> <!-- jQuery -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script> <!-- jQuery UI -->
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script> <!-- jQuery Slim Scroll -->
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script> <!-- jQuery Validate -->
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script> <!-- Select2 v4.0.3 -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script> <!-- Custom codes -->
<script src="{{ url_for('static', filename='js/web3.js.1.x/dist/web3.min.js') }}"></script> <!-- web3 -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script> <!-- dataTables -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script> <!-- dataTables -->